<div class="col-xs-12 comment-indent">
    <p>{{comment.content}}</p>
    <p class="text-right">{{comment.author.username}}</p>
    {{#if currentUser }}
        <a href="/posts/{{postId}}/comments/{{comment._id}}/replies/new">Reply</a>
    {{!-- {{else}}
        <a href="/login" class="btn btn-primary navbar-btn"><strong>Login to reply</strong></a> --}}
    {{/if}}
    {{#each comment.comments}}
        <div class="mb-1 pr-1" style="border:1px solid black">
            {{> comment comment=this postId=../postId currentUser=../currentUser}}
        </div>
    {{/each}}
</div>