<div class="row d-flex justify-content-center">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
                <li class="list-group-item" style="background-color: rgb(157, 216, 203);border:2px solid rgb(36, 92, 116)">
                    <div class="lead">
                        <a href="/posts/{{this._id}}" class="lead">{{this.title}}</a>
                    </div>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                    <div><small>{{this.author.username}}</small></div>
                    <div class="text-right">
                        <a href="/n/{{this.category}}">{{this.category}}</a>
                    </div>
                    <h4>Votes: {{this.voteScore}}</h4>
                    {{!-- Need to add ../ when using if statement inside of each statement!!! --}}
                    {{#if ../currentUser}}
                        <form class="vote-up" data-id="{{this._id}}">
                            <button type="submit">Vote Up</button>
                        </form>
                        |
                        <form class="vote-down" data-id="{{this._id}}">
                            <button type="submit">Vote Down</button>
                        </form>
                    {{else}}
                         <a href="/login" class="btn btn-primary navbar-btn mb-1"><strong>Login to vote</strong></a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>