{{!-- DISPLAY SINGLE POST DATA --}}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 pt-3" style="background-color: rgb(149, 223, 206);border:3px solid rgb(36, 92, 116)">
      {{!-- TITLE --}}
      {{!-- target="_blank" opens the given link in a new window --}}
    <a href="{{post.url}}" class="lead" target="_blank">{{post.title}}</a>
    {{!-- IMAGE --}}
    <div>
      <img src="{{post.image}}" alt="image" width="300" height="275">
      {{!-- <p>{{post.image}}</p> --}}
    </div>
    {{!-- SUMMARY --}}
    <p>{{post.summary}}</p>
    <div class="text-right">
      {{!-- AUTHOR --}}
      <p>Post Author: {{post.author.username}}</p>
    </div>
    {{!-- COMMENTS --}}
    <h5><strong>Comments:</strong></h5>
    <form action="/posts/{{post._id}}/comments" method="POST">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        {{#if currentUser}}
          <button type="submit" class="btn btn-primary mt-1 mb-1">Save</button>
        {{else}}
          <a href="/login" class="btn btn-primary navbar-btn mt-1"><strong>Login to comment</strong></a>
        {{/if}}
      </div>

      {{!-- REPLIES --}}
      {{!-- #unless is the same as saying 'if not' in python --}}
      {{#unless currentUser}}
        <a href="/login" class="btn btn-primary navbar-btn mb-1"><strong>Login to reply</strong></a>
      {{/unless}}
      {{#each post.comments}}
      <div class="mb-1 pr-1" style="border:1px solid black">
        {{> comment comment=this postId=../post._id currentUser=../currentUser}}
        </div>
      {{/each}}
  </form>
  </div>
</div>